# Database URL for connection.
DATABASE_URL="neon_db_string_url"
DATABASE_DEVSANDBOX_URL="neon_db_string_url-devsandbox"
# Business Secret
REGIONS_DATA=[]
# JWS_SECRET
JWS_SECRET=""
# ADMIN_Credentials
ADMIN_NAME=""
ADMIN_SURNAME=""
ADMIN_EMAIL=""
ADMIN_ROLE=""
ADMIN_PASSWORD=""
