node_modules/
# qodo dot files
.qodo

#Next folder
.next/

#Environment variables

.env.local


# Business Secret folder
# Delete the .tsx after testing.
app/const/Regions-const.tsx
regions.json
# Vercel dot files

.vercel
